{% extends 'main.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Add your project</h1>

<form action="{% url 'add-project' %}" method="post">

    {% csrf_token %}
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="description" name="description">
    <input type="text" placeholder="tag" name="tag">
    <input type="submit" value="Add">

</form>

{% endblock %}









